.pageSelector{
    overflow-x: auto;
    width: calc(100% + 60px);
    margin-left: -60px;
    padding-left: 60px;
    margin-bottom: 32px;
    position: relative;
}
.pagesLine {
    display: flex;
    gap: 60px;
    border-bottom: 1px solid rgba(26, 28, 33, 0.1);
    width: max-content;
    min-width: 100%;
}
.pageSelector::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1440px) {
    .pagesLine {
        gap: 48px;
    }
}
@media screen and (max-width: 1366px) {

}
@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {
    .pagesLine {
        gap: 28px;
    }
    .pageSelector {        
        width: calc(100% + 80px);
        padding-right: 20px;
    }
}
@media screen and (max-width: 600px) {
    .pageActive {
        font-weight: 600;
    }
    .pageSelector {
        width: 100%;
        padding: 0px 16px;
        margin-left: 0px;
        margin-bottom: 24px;
    }
    .pagesLine {
        gap: 40px;
    }
}