.pageWrap {
    margin-top: 86px;
    margin-left: 80px;
    max-height: calc(100vh - 86px);
    /* overflow-y: scroll; */
    /* border: 1px solid #D9D9D9; */
}

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 40px;
    /* margin is 5px less than design to adjust to scrollbar width */
    margin-right: 135px;
    margin-left: 60px;
}


@media screen and (max-width:1440px) {
    .content {
        margin-right: 30px;
        margin-left: 40px;
        gap: 30px;
    }
}

@media screen and (max-width:1366px) {
    .content {
        margin-left: 30px;
    }

    .pageWrap {
        margin-left: 70px;
    }
}

@media screen and (max-width:1280px) {
    .pageWrap {
        margin-left: 60px;
    }
}

@media screen and (max-width:1024px) {
    .content {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .content {
        margin-left: 0;
    }
}