.pageWrap {
    /* TEMPORARY, REMOVE WHEN DONE WITH ADAPTIVE  */
    /* Exactly 0 idea why i put this here */
    /* overflow-y: hidden;
    border: 1px solid #D9D9D9; */
}

.content {
    margin-top: 104px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 40px;
}