#profit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(/images/dashboard/masks/wallet-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 7;
    margin-top: 20px;
}

#profit .text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#profit h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

#profit span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/stats-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 7;
    grid-column-end: 13;
    margin-top: 20px;
}

#stats .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#stats h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#stats span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #1A1C21;
}

#coins {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    background-image: url(/images/dashboard/masks/coins-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 10;
    padding: 60px;
}

#coins .info {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#coins .count {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

#coins .info h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#coins .info span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#coins .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#coins .description span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1A1C21;
}

#coins .description a {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    display: flex;
    align-items: center;
    gap: 10px;
}

#coins .description a:after {
    content: url(/icons/arrow-narrow-right-black.svg);
    height: 24px;
    width: 24px;
}

#bookmaker {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    grid-row-start: 2;
    grid-column-start: 10;
    grid-column-end: 13;
}

#bookmaker h5 {
    text-align: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#bookmaker img {
    height: unset;
    width: unset;
}

#sport {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-image: url(/images/dashboard/masks/sport-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 6;
    max-height: 270px;
}

#sport .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#sport h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}

#sport h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

#odds {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/odds-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 3;
    grid-column-start: 6;
    grid-column-end: 9;
    max-height: 270px;
}

#odds .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#odds .text {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#odds h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#odds span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/unit-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    grid-row-start: 3;
    grid-column-start: 9;
    grid-column-end: 13;
    max-height: 270px;
}

#unit .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#unit .detailed {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

#unit .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#unit h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21B2;
}

#unit h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

#unit span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

#bets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(/images/dashboard/masks/bets-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 40px;
    grid-row-start: 4;
    grid-column-start: 4;
    grid-column-end: 9;
    padding: 36px 60px;
}

#bets .info h5 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(26, 28, 33, 0.7);
}

#bets .progressBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bets .progressBar {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: none;
    background-color: #7F3FFC08;
}

#bets h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

#bets span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

#bets .progressBar.won h3,
#bets .progressBar.won span {
    color: #7F3FFC;
}

#bets .progressBar.pending h3,
#bets .progressBar.pending span {
    color: #FFB82D;
}

#bets .progressBar.lost h3,
#bets .progressBar.lost span {
    color: #FF5018;
}

#bets .circleInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

@media screen and (max-height: 1440px) {

    #coins,
    #bookmaker {
        max-height: 180px;
    }
}

@media screen and (max-height: 1366px) {

    #odds,
    #unit,
    #sport {
        position: relative;
        max-height: 190px;
        padding-top: 20px;
    }

    #unit>div:nth-child(2),
    #odds>div:nth-child(2) {
        position: absolute;
        bottom: 10px;
        width: calc(100% - 60px) !important;
    }

    #bets {
        max-height: 224px;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #bets .progressBar {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 1280px) {

    #odds h5,
    #unit h5 {
        font-size: 18px;
    }

    #sport img {
        height: 52px;
        width: 52px;
    }
}

@media screen and (max-width: 1024px) {
    #profit {
        grid-column-start: 5;
        grid-column-end: 9;
    }

    #stats {
        grid-column-start: 9;
        grid-column-end: 13;
        flex-wrap: wrap;
        gap: 20px;
    }

    #stats .stat {
        gap: 6px;
    }

    #stats span {
        font-size: 18px;
        line-height: 22px;
    }

    #stats h3 {
        font-size: 15px;
        line-height: 18px
    }

    #coins {
        grid-column-start: 5;
        grid-column-end: 13;
    }

    #bookmaker {
        grid-row-start: 3;
        grid-column-start: 5;
        grid-column-end: 10;
    }

    #bookmaker img {
        height: 60px;
        width: 180px;
    }

    #sport {
        grid-column-start: 10;
        grid-column-end: 13;
    }

    #odds {
        grid-row-start: 4;
        grid-column-start: 5;
        grid-column-end: 9;
    }

    #unit {
        grid-row-start: 4;
        grid-column-start: 9;
        grid-column-end: 13;
    }

    #bets {
        grid-row-start: 5;
        grid-column-start: 5;
        grid-column-end: 13;
    }
}

@media screen and (max-width: 768px) {

    #profit {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 0;
    }

    #stats {
        grid-column-start: 4;
        grid-column-end: 9;
        gap: unset;
        margin-top: 0;
    }

    #stats .stat {
        gap: 6px;
    }

    #stats span {
        font-size: 28px;
        line-height: 33px;
    }

    #stats h3 {
        font-size: 15px;
        line-height: 18px
    }

    #coins {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    #coins .description span {
        font-size: 14px;
        line-height: 17px;
    }

    #bookmaker {
        grid-row-start: 2;
        grid-column-start: 6;
        grid-column-end: 9;
    }

    #bookmaker img {
        height: 60px;
        width: 180px;
    }

    #sport {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #odds {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 6;
    }

    #unit {
        grid-row-start: 3;
        grid-column-start: 6;
        grid-column-end: 9;
    }

    #unit h5,
    #odds h5 {
        font-size: 16px;
        line-height: 24px;
    }

    #bets {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #sport,
    #odds,
    #unit {
        max-height: 180px;
    }
}

@media screen and (max-width: 425px) {
    #profit {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #stats {
        flex-direction: column;
        gap: 48px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #stats .stat {
        gap: 12px;
    }

    #coins {
        justify-content: space-between;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #coins .description span {
        display: none;
    }

    #coins .description {
        justify-content: center;
    }

    #bookmaker {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #sport {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #bookmaker,
    #sport {
        flex-direction: row;
    }

    #sport .info {
        align-items: flex-start;
    }

    #odds {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #unit {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #bets {
        position: relative;
        grid-row-start: 8;
        grid-column-start: 1;
        grid-column-end: 9;
    }

    #bets span {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    #coins {
        max-height: 111px;
        padding: 35px 40px;
    }

    #sport {
        max-height: 94px;
    }

    #odds {
        max-height: 111px;
    }

    #unit {
        max-height: 149px;
    }

    #unit .detailed {
        gap: 20px;
    }

    #unit>div:nth-child(2),
    #odds>div:nth-child(2) {
        position: absolute;
        bottom: calc(50% - 50px);
        width: 30% !important;
        right: 20px;
    }

    #unit>div:nth-child(2) {
        right: 50px;
    }

    #bets {
        position: relative;
        padding: 32px 36px;
        min-height: 261px;
    }

    #bets .progressBar {
        position: absolute;
        height: 91px;
        width: 91px;
    }

    #bets .progressBar:nth-child(1) {
        top: 75px;
        left: 36px;
    }

    #bets .progressBar:nth-child(2) {
        top: 139px;
        left: calc(50% - 45px);
    }

    #bets .progressBar:nth-child(3) {
        top: 75px;
        right: 36px;
    }
}