.followersTab {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
}

#followers {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    background-image: url(/images/dashboard/masks/followers-mask.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 13;
    margin-top: 20px;
    max-height: 150px;
}

#followers .info {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

#followers .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#followers .text div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

#followers .text h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#followers .text h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

#followers .text h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#followers .text span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 9px;
}

#followers .text span.positive::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 7px solid #2CD114;
}

#followers .text span.negative::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 7px solid #CF1F1F;
}

#followers .search {
    position: relative;
    flex: 0.75;
    backdrop-filter: blur(12px);
}

#followers .search input[type="text"] {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border: 1px solid #FFFFFF80;
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    outline: none;
}

#followers .search input[type="text"]::placeholder {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#followers .search .icon img {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 24px;
    height: 24px;
}

#table {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 13;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
}

.user .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.user .info span:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(26, 28, 33, 0.7);
}

.followersCount {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1a1c21b3;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

.followButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: 1px solid #1A1C2133;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 40px;
}

.followButton.following {
    background-color: #1A1C211A;
}

.followButton.follow {
    background-color: #FFFFFF;
}

.followButton.follow::before {
    content: url(/icons/follow-gray.svg);
}

.followButton.following::before {
    content: url(/icons/following-gray.svg);
}

@media screen and (max-width: 1440px) {
    #followers .search {
        max-width: 360px;
    }

    #followers .search>input {
        height: 42px;
    }
}

@media screen and (max-width: 1024px) {
    #followers {
        grid-column-start: 5;
    }

    #table {
        grid-column-start: 5;
    }
}

@media screen and (max-width: 768px) {
    #followers {
        grid-column-start: 1;
        margin-top: 0;
    }

    #table {
        grid-column-start: 1;
        margin-top: 0;
    }

    #followers .text h3 {
        font-size: 18px;
    }

    #followers .search {
        width: 312px;
        flex: unset;
    }
}

@media screen and (max-width: 425px) {
    .followersTab {
        gap: 20px;
    }

    #followers {
        flex-direction: column;
        grid-column-start: 1;
        max-height: unset;
    }

    #followers .info {
        width: 100%;
        justify-content: space-between;
    }

    #followers .search {
        width: 100%;
    }

}