.block {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 28px;
    background-color: #F2F2F24D;
    border-radius: 16px;
}

.block .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.block .edit {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1a1c2180;
}

.block h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 29px;
    color: #1A1C21CC;
}

#accountSettings .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#accountSettings {
    grid-column-start: 4;
    grid-column-end: 12;
}

#sportDetails {
    grid-column-start: 4;
    grid-column-end: 12;
}

#sportDetails .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

#sportDetails .sportBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 23px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: calc(50% - 20px);
    justify-content: space-between;
}

#sportDetails .sportBlockMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#sportDetails .sportBlockMain .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1A1C21;
    display: flex;
    gap: 16px;
    align-items: center;
}

#sportDetails .sportBlock .label {
    width: 70px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21B2;
}

#sportDetails .sportBlock .details {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

#sportDetails .sportBlock .details .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
    border-radius: 100%;
}

#sportDetails .sportBlock .details .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.imageInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 32px;
    gap: 44px;
    background-color: #FFFFFF;
    border-radius: 8px;
    flex: 0.5;
}

.imageInput input[type="file"] {
    display: none;
}

.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 3px;
    background: #fff;
    border: 3px solid rgba(26, 28, 33, 0.1);
    position: relative;
}

.avatar:after {
    content: '';
    background-image: url(/icons/check-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    position: absolute;
    border-radius: 100%;
    background-color: #2CD114;
    top: 5px;
    right: 5px;
    border: 3px solid #FFFFFF;
}

.upload {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 9px 16px;
    border: none;
    background-color: #7F3FFC;
    color: #FFFFFF;
    border-radius: 8px;
    cursor: pointer;
}

.info {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.changePassword {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    cursor: pointer;
    width: calc(50% - 20px);
}

/* Profile Field */

.profileField {
    position: relative;
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
}

.profileField .label {
    position: absolute;
    left: 16px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21B2;
}

.profileField .icon {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.profileField button.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    background: #7F3FFC;
    border-radius: 6px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
}

.profileField input[type="text"] {
    width: 100%;
    padding: 16px 50px 16px 80px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    border: none;
    border-radius: 8px;
    outline: none;
}

/* Password Modal */

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(50%);
    z-index: 999;
}

.modalContainer .modal {
    padding: 28px;
    background-color: #FFFFFF;
    border-radius: 16px;
    max-width: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modalContainer .modal .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1A1C21;
}

.modalContainer .modal .close {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.modalContainer .modal .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modalContainer .modal button {
    width: fit-content;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 44px;
    background-color: #7F3FFC;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.modalContainer .modal .items {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    max-height: 200px;
}

.modalContainer .modal .items .item {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1A1C21;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    #accountSettings {
        grid-column-end: 13;
    }

    #sportDetails {
        grid-column-end: 13;
    }

    #sportDetails .content {
        gap: 30px;
    }
}

@media screen and (max-width: 1024px) {
    #accountSettings {
        grid-column-start: 5;
    }

    #sportDetails {
        grid-column-start: 5;
    }
}

@media screen and (max-width: 900px) {
    #accountSettings {
        grid-column-start: 1;
    }

    #sportDetails {
        grid-column-start: 1;
    }

    .edit span {
        display: none;
    }

    .avatar {
        height: 120px;
        width: 120px;
    }

}

@media screen and (max-width: 600px) {
    .profileSettings {
        gap: 0;
        row-gap: 40px;
    }

    .info {
        flex-direction: column;
    }

    .profileField,
    .changePassword {
        width: 100%;
    }

    #sportDetails .content {
        flex-direction: column;
    }

    #sportDetails .sportBlock {
        width: 100%;
    }

    .modalContainer .modal {
        height: 100vh;
        border-radius: 0;
    }
}