.container {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: center;
}

.points {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: max-content;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21B2;
}

.notifications {
    position: relative;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notificationIcon {
    cursor: pointer;
    width: max-content;
}

.notificationsList {
    position: absolute;
    top: calc(100% + 20px);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #1A1C211A;
    padding: 10px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notification {
    display: flex;
    flex-direction: row;
    gap: 9px;
    width: max-content;
}

.notificationSubTitle {
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.7);
}

.notificationTime {
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7F3FFC;
}

.notificationText {
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21;
}

.notificationContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notificationInfo {
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: center;
}

.back {
    display: none;
    transform: rotateZ(180deg);
    cursor: pointer;
}

.notificationsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notificationsHeaderText {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.notificationsBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    background-color: #7F3FFC;
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.notificationsHeader h2 {
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profileImage {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #7F3FFC;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: absolute;
    top: calc(100% + 20px);
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #1A1C211A;
    padding: 34px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    background-color: #F2F2F24D;
    border-radius: 8px;
    padding: 12px;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.user .profileImage {
    height: 52px;
    width: 52px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.followers {
    font-family: Samsung Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(26, 28, 33, 0.7);
}

.name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
    white-space: nowrap;
    width: max-content;
}

.menuSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 27px 23px;
    background-color: #F2F2F24D;
    border-radius: 8px;
}

.menuSection:last-child {
    background-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: max-content;
    gap: 40px;
}

.menuItem {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    cursor: pointer;
}

.menuItem span {
    white-space: nowrap;
}

.button {
    position: relative;
    display: flex;
    width: max-content;
    white-space: nowrap;
    padding: 12px 24px;
    background-color: #7F3FFC;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

@media screen and (max-width: 425px) {
    .container {
        gap: 25px;
        z-index: 100;
    }

    .profile {
        position: unset;
    }

    .menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .menuSection {
        background-color: transparent;
        padding: 0px;
    }

    .column {
        gap: 12px;
    }

    .menuHeader {
        background-color: transparent;
    }

    .menuItem {
        background-color: #F2F2F24D;
        border-radius: 8px;
        width: 100%;
        padding: 12px;
        flex-direction: column;
        align-items: flex-start;
    }

    .back {
        display: block;
    }

    .notifications {
        position: unset;
    }

    .notificationsList {
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .notificationsHeader {
        display: flex;
        gap: 33%;
    }

}