.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.pageImg {
    width: 56%;
    position: relative;
}

.formArea {
    min-width: 500px;
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 120px;
    padding-left: calc((100% - 520px)/2);
    padding-right: calc((100% - 520px)/2);
}

/* .form::-webkit-scrollbar {
    display: none;
} */

.loginTitle {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    color: #1A1C21;
    margin-top: 0;
    margin-bottom: 12px;
}

.formText {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.7);
}

.formText a {
    color: #7F3FFC;
    font-weight: 600;
}

.socials {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 54px;
    margin-bottom: 30px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 38px;
    border: 1px solid rgba(26, 28, 33, 0.2);
    border-radius: 8px;
    flex: 1 1;
}

.separatorOr {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(26, 28, 33, 0.5);
    gap: 14px;
    position: relative;
    display: flex;
    align-items: center;
}

.separatorOr::before,
.separatorOr::after {
    content: "";
    height: 0px;
    width: 100%;
    border-top: 1px solid rgba(26, 28, 33, 0.2);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
    margin-bottom: 24px;
}

.formBtns {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.row>div {
    flex: 1 1;
}

.passwordDescription {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.passwordTitle {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.checkOption {
    font: normal normal normal 15px/18px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    gap: 12px;
    display: flex;
    align-items: center;
}

.checkOption::before {
    content: "";
    border: 1px solid #4B445333;
    border-radius: 100px;
    width: 18px;
    height: 18px;
}

.checkOption.active {
    color: #2CD114;
}

.checkOption.active::before {
    background-image: url(/images/login/check.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid #2CD114;
    width: 16px;
    height: 16px;
}

.checkText {
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #4B4453B3;
    margin-bottom: 32px;
}

.checkText a {
    text-decoration: underline;
    font: normal normal normal 15px/26px Samsung Sans;
    letter-spacing: 0px;
    color: #7F3FFC;
    cursor: pointer;
}

.checkTerms input {
    display: none;
}

.checkTerms {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.checkTerms .checkBox {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #4B445333;
    border-radius: 4px;
    margin-top: 4px;
    cursor: pointer;
}

.checkTerms input:checked~.checkBox {
    background: #7F3FFC;
    position: relative;
}

.checkTerms input:checked~.checkBox:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.formTextForgot {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: rgba(26, 28, 33, 0.7);
}

.backToLogin {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #7F3FFC;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 54px;
}

.header {
    position: fixed;
    top: 27px;
    left: calc((44% - 520px) / 2);
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #1E2025;
}

.error {
    color: #CF1F1F;
    font-family: 'Samsung Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.congratsText {
    color: #1A1C21;
    /* Body 15 Regular */
    font-family: 'Samsung Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
}

@media screen and (max-width:1440px) {
    .pageImg {
        width: 54%;
    }

    .formArea {
        width: 46%;
    }

    .form {
        padding-left: calc((100% - 410px)/2);
        padding-right: calc((100% - 410px)/2);
    }

    .header {
        left: calc((46% - 410px) / 2);
    }
}

@media screen and (max-width:1366px) {
    .form {
        padding-left: calc((100% - 394px)/2);
        padding-right: calc((100% - 394px)/2);
    }

    .header {
        left: calc((46% - 394px) / 2);
    }
}

@media screen and (max-width:1280px) {
    .form {
        padding-left: calc((100% - 364px)/2);
        padding-right: calc((100% - 364px)/2);
    }

    .row {
        flex-direction: column;
        gap: 24px;
    }

    .row>div {
        width: 100%;
    }

    .header {
        left: calc((46% - 364px) / 2);
    }

    .socials {
        gap: 28px;
    }
}

@media screen and (max-width:1024px) {
    .pageImg {
        width: 46%;
    }

    .formArea {
        width: 54%;
    }

    .form {
        padding-left: calc((100% - 368px)/2);
        padding-right: calc((100% - 368px)/2);
    }

    .header {
        left: calc((54% - 368px) / 2);
    }

    .socials {
        gap: 22px;
    }
}

@media screen and (max-width:900px) {
    .container {
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 100vh;
        height: auto;
        width: 100%;
    }

    .pageImg {
        width: 100%;
        height: 35vh;
    }

    .pageImg img {
        object-position: center 10%;
    }

    .formArea {
        width: 100%;
    }

    .form {
        width: 100%;
        padding: 60px 15%;
        margin-top: 0;
    }

    .fields {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fields>div {
        width: calc(50% - 12px);
    }

    .fields>div:first-child:last-child {
        width: 100%;
    }

    .row {
        flex-direction: row;
        width: 100% !important;
    }

    .header {
        top: 12px;
        left: 24px;
        z-index: 2;
        color: #FFFFFF;
        position: absolute;
    }

    .socials {
        gap: 22px;
    }

    .formBtns {
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
    }

    .formBtns>button {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .formArea {
        min-width: initial;
    }

    .form {
        width: 100%;
        padding: 60px 16px;
        margin-top: 36px;
    }

    .header {
        font-size: 16px;
        line-height: 19px;
        color: #1A1C21;
        left: 0px;
        top: 0px;
        padding: 18px 16px;
        width: 100%;
        background: #fff;
        position: fixed;
    }

    .fields {
        flex-direction: column;
    }

    .fields>div {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .pageImg {
        display: none;
    }

    .loginTitle {
        font-size: 28px;
        line-height: 34px;
    }
}