.mainNewsContainer {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    margin-left: -60px;
}

.recentNews {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
}

.wideNews {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 3;
    margin-left: -60px;
}

.newsBlockContainer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 4;
}

.newsBlockContainer .newsBlock .newsBlockContent .news {
    width: calc(25% - 23px);
}

.sideColumn {
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
}

/* Main News */

.mainNews {
    position: relative;
    min-height: 560px;
    border-radius: 16px 0 16px 0;
    overflow: hidden;
    margin-top: -20px;
}

.mainNewsLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    z-index: 2;
    background-color: transparent;
    border: 1px solid #FFFFFF66;
    border-radius: 8px;
    width: fit-content;
    position: absolute;
    left: 60px;
    top: 30px;
}

.mainNewsInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    left: 60px;
    bottom: 30px;
}

.mainNewsDate {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFFCC;
    z-index: 1;
}

.mainNewsTitle {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
    z-index: 1;
    max-width: 80%;
}

.mainNewsStats {
    display: flex;
    flex-direction: row;
    gap: 27px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.mainNewsStat {
    position: relative;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

/* Side News */

.sideNews {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sideNewsMainNews {
    position: relative;
    min-height: 220px;
    border-radius: 16px;
    padding: 16px;
    overflow: hidden;
}

.sideNewsMainNews .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    left: 16px;
    bottom: 16px;
}

.sideNewsMainNews .info .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFFCC;
}

.sideNewsMainNews .info .title {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
}

.sideNewsOtherNews {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.sideNewsOtherNews .image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 8px;
    overflow: hidden;
}

.sideNewsOtherNews .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideNewsOtherNews .info .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21CC;
}

.sideNewsOtherNews .info .title {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
}

.sideNewsOtherNews .info .stats {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21B2;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sideNewsOtherNews .info .stats .stat {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
}

/* Top Matches */

.topMatches {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.topMatchesHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topMatchesHeader .titles {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.topMatchesHeader button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    background-color: #FFFFFF;
    border: 1px solid #1A1C2133;
    border-radius: 4px;
    cursor: pointer;
}

.topMatchesHeader h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
}

.topMatches h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

.topMatchesContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topMatchesContent .topMatch:nth-child(odd) {
    background-color: #F2F2F24D;
}

.topMatch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 18px 24px;
    border-radius: 8px;
}

.live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 14px 8px 13px;
    background-color: #CF1F1F;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.upcoming {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 14px 8px 13px;
    background-color: #7F3FFC;
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.matchDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 0px 7px;
}

.matchDate .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.matchDate .today {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21B2;
}

.topMatchInfo {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.topMatchTeams {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topMatchTeams .topMatchTeam:not(:last-child) {
    margin-right: -15px;
    z-index: -1;
}

.topMatchTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #E8E8E9;
    border-radius: 100%;
}

.topMatchTeamNames {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
}

.topMatchTeamNames .topMatchTeamName:first-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.topMatchTeamNames .topMatchTeamName:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21CC;
}

/* News Block */

.newsBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.newsBlockHeader {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-between;
}

.newsBlockHeading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.newsBlockHeader button {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    border: 1px solid #1A1C2133;
    background-color: #FFFFFF;
    cursor: pointer;
}

.newsBlockHeader h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
}

.newsBlockHeader h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.newsBlockContent {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.newsBlockContent .news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% / 3 - 20px);
}

.mainColumn.bottom .newsBlockContent .news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% / 4 - 23px);
}

.newsBlockContent .news .image {
    position: relative;
    width: 100%;
    height: 210px;
    border-radius: 16px;
    overflow: hidden;
}

.newsBlockContent .news .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newsBlockContent .news .info .mainInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.newsBlockContent .news .info .mainInfo .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21B2;
}

.newsBlockContent .news .info .mainInfo .title {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 19px;
    color: #1A1C21;
}

.newsBlockContent .news .info .stats {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.newsBlockContent .news .info .stats .stat {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21B2;
}

/* Full Width News Block */

.fullWidthNewsBlock {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 30px 140px 30px 60px;
    margin-right: -135px;
    background-color: #F2F2F280;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fullWidthNewsBlockHeader {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: space-between;
}

.fullWidthnewsBlockHeading {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fullWidthNewsBlockHeader button {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    padding: 13px 24px 13px 24px;
    border-radius: 8px;
    border: 1px solid #1A1C2133;
    background-color: #FFFFFF;
    cursor: pointer;
}

.fullWidthNewsBlockHeader h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
}

.fullWidthNewsBlockHeader h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.fullWidthNewsBlockContent {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.fullWidthNewsBlockContent .main {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex: 1;
}

.fullWidthNewsBlockContent .main .news {
    position: relative;
    display: flex;
    flex: 1;
    border-radius: 16px;
    overflow: hidden;
    min-height: 370px;
}

.fullWidthNewsBlockContent .main .news .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 60%;
}

.fullWidthNewsBlockContent .main .news .info .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFFCC;
}

.fullWidthNewsBlockContent .main .news .info .title {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.fullWidthNewsBlockContent .main .news .stats {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.fullWidthNewsBlockContent .main .news .stats .stat {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.fullWidthNewsBlockContent .side {
    display: flex;
    flex-direction: column;
    gap: 35px;
    flex: 0.2;
}

.fullWidthNewsBlockContent .side .news {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    width: 100%;
}

.fullWidthNewsBlockContent .side .news .image {
    position: relative;
    min-width: 100px;
    min-height: 100px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullWidthNewsBlockContent .side .news .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fullWidthNewsBlockContent .side .news .info .date {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21CC;
}

.fullWidthNewsBlockContent .side .news .info .title {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
}

.fullWidthNewsBlockContent .side .news .info .stats {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.fullWidthNewsBlockContent .side .news .info .stats .stat {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1A1C21B2;
}

.mobileMainNewsTitle {
    display: none;
}

@media screen and (max-width: 1440px) {
    .mainNewsContainer {
        margin-left: -40px;
    }

    .fullWidthNewsBlock {
        padding-left: 40px;
    }

    .recentNews .newsBlockContent .news {
        width: calc(50% - 15px);
    }

    .fullWidthNewsBlock {
        margin-right: -30px;
        padding-right: 30px;
    }

    .wideNews {
        margin-left: -40px;
    }
}

@media screen and (max-width: 1366px) {
    .mainNewsContainer {
        margin-left: -30px;
    }

    .wideNews {
        margin-left: -30px;
    }
}

@media screen and (max-width: 1280px) {
    .newsBlockContainer .newsBlock .newsBlockContent .news {
        width: calc(33% - 17px);
    }
}

@media screen and (max-width: 1024px) {
    .mainNewsContainer {
        margin-left: -20px;
        margin-right: -20px;
    }

    .sideColumn {
        display: none;
    }

    .mainNewsContainer,
    .recentNews {
        grid-column-end: 13;
    }

    .fullWidthNewsBlock {
        margin-right: 0;
        padding-left: 30px;
    }

    .recentNews,
    .newsBlockContainer {
        margin-right: 24px;
    }

    .newsBlockContainer .newsBlock .newsBlockContent .news {
        width: calc(50% - 15px);
    }

    .wideNews {
        margin-left: -20px;
    }
}

@media screen and (max-width: 768px) {

    .mainNewsTitle {
        max-width: calc(100% - 24px);
    }

    .fullWidthNewsBlock {
        margin-right: 0;
        padding-left: 24px;
    }

    .recentNews {
        padding-left: 24px;
    }

    .fullWidthNewsBlockContent {
        flex-direction: column;
    }

    .mainNewsContainer {
        margin-left: 0;
        padding-top: 0;
    }

    .mainNewsLabel {
        top: 60px;
        left: 24px;
    }

    .mainNewsInfo {
        left: 24px;
        bottom: 64px;
    }

    .mainNewsStats {
        bottom: 28px;
        left: 20px;
    }

    .wideNews {
        margin-left: 0;
    }

    .newsBlockContainer {
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .mainNewsContainer {
        margin-right: 0;
    }

    .fullWidthNewsBlock {
        margin-right: 0;
    }

    .sideNews {
        padding: 0 24px;
    }

    .recentNews,
    .newsBlockContainer {
        margin-right: 0;
        padding-left: 0;
    }

    .recentNews .newsBlockContent .news,
    .newsBlockContainer .newsBlock .newsBlockContent .news {
        width: 100%;
    }

    .mainNewsLabel {
        top: 20px;
    }

    .sideNewsContainer {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 3;
    }

    .wideNews {
        grid-row-start: 4;
    }

    .newsBlockContainer {
        grid-row-start: 5;
    }

    .topMatchesContainer {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 6;
        padding: 0 16px;
    }

    .mainNews {
        margin-top: 0;
        margin-left: 0;
        border-radius: 0;
        min-height: 200px;
        margin-bottom: 180px;
        overflow: visible;
    }

    .mainNewsInfo {
        bottom: calc(80px - 180px);
        left: 16px;
    }

    .mainNewsStats {
        right: unset;
        left: 16px;
        bottom: calc(30px - 180px);
    }

    .mainNewsDate {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(26, 28, 33, 0.7);
    }

    .mainNewsTitle {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #1A1C21;
    }

    .mainNewsStats {
        width: calc(100% - 32px);
        justify-content: space-between;
    }

    .mainNewsStat {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1A1C21;
    }

    .mainNewsStat img {
        filter: invert();
    }

    .newsBlock {
        padding: 16px;
    }

    .newsBlockContent .news {
        width: 100%;
    }

    .fullWidthNewsBlock {
        margin-right: 0;
        padding: 16px;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .fullWidthNewsBlockContent {
        flex-direction: column;
    }

    .fullWidthNewsBlockContent .main {
        width: 100%;
        flex-direction: column;
    }

    .fullWidthNewsBlockContent .main .news {
        min-height: 210px;
    }

    .fullWidthNewsBlockContent .side {
        width: 100%;
    }

    .mainColumn.bottom {
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .mainColumn.bottom .newsBlockContent .news {
        width: 100%;
    }

    .mainNewsStat:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 250%;
        height: 100%;
        width: 1px;
        background-color: #1A1C211A;
    }

    .mobileMainNewsTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }

    .mobileMainNewsTitle>div span {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #1a1c2180;
    }

    .mobileMainNewsTitle>div h2 {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #1A1C21;
    }

    .mainNewsLabel {
        position: relative;
        background-color: #7F3FFC;
        top: unset;
        left: unset;
    }

    .mainNewsContainer {
        gap: 0;
    }

    .mainNews .mainNewsLabel {
        display: none;
    }
}