.container{
    padding-left: 40px;
    padding-right: 115px;
    display: flex;
    gap: 40px;
}
.main{
    width: calc(100% + 40px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 100px;
    margin-left: -40px;
}
.leaguePreview{
    position: relative;
    height: 270px;
    border-top-left-radius: 16px;    
    border-bottom-right-radius: 16px;
    overflow: hidden;
    padding: 40px 20px 20px 60px;
}
.leaguePreview::after{
    background: linear-gradient(90deg, rgba(26, 28, 33, 0.8) 14.3%, rgba(26, 28, 33, 0.1) 100%);
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.leagueInfo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.leagueHeader{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: relative;
}
.buttonBack{
    width: 38px;
    height: 38px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
}
.leagueData {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-left: 96px;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
}
.leagueLogo {
    display: flex;
    padding: 5px;
    background: #FFFFFF;
    border-radius: 8px;
}
.leagueFields {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    height: 100%;
    padding: 6px 0px;
}
.leagueTitle {    
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.leagueTitleName {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.leagueTitleDate {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.countryName {
    display: flex;
    align-items: center;
    gap: 8px;
}
.countryNameField {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.countryFlag {
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.matchStatPages{
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    margin-left: 60px;
}
.page{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
    text-transform: capitalize;
    min-width: max-content;
    position: relative;
    transition: all 0.2s ease-in-out;
    display:inline-block;
    text-align:center;
    cursor: pointer;
    padding-bottom: 19px;
    z-index: 2;
}
.page::before{
    display: block;
    content: attr(aria-label);  
    font-family: 'Samsung Sans';
    font-style: normal;
    font-size: 18px;
    line-height: 22px;  
    font-weight: 700;
    height: 0;
	overflow: hidden;
	visibility: hidden;
}
.pageActive{
    font-weight: 700;
}
.pageUnderline{
    background: #1A1C21;
    border-radius: 2px;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

@media screen and (max-width: 1440px) {
    .matchStatPages {
        margin-left: 40px;
        width: calc(100% - 40px);
    }
    .main {        
        gap: 30px;
        margin-left: -40px;
        width: calc(100% + 40px);
    }
    .leaguePreview {
        padding-left: 40px;
    }
}

@media screen and (max-width: 1366px) {
    .matchStatPages {
        margin-left: 30px;
        width: calc(100% - 30px);
    }
    .main {
        margin-left: -30px;
        width: calc(100% + 30px);
    }
    .leaguePreview {
        padding-left: 30px;
    }
}

@media screen and (max-width: 1280px) {
    .matchStatPages {
        margin-left: 30px;
        width: calc(100% - 30px);
    }
    .main {        
        gap: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .matchStatPages {
        margin-left: 20px;
        width: calc(100% - 20px);
    }
    .main {        
        gap: 24px;
        grid-column-end: 13;
        margin-left: -20px;
        width: calc(100% + 20px);
    }
    .sideBar {
        display: none;
    }
    .leaguePreview {
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .main {        
        margin-left: 00px;
        width: 100%;
    }
    .matchStatPages {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }
    .leagueData {
        margin-left: 60px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        grid-column-end: 13;
        gap: 20px;
        margin-bottom: 0px;
    }
    .sideBar {
        grid-column-start: 1;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .leaguePreview {
        height: 60vw;
        padding: 16px;
        border-radius: 0px;
    }
    .buttonBack {
        width: 36px;
        height: 36px;
    }
    .buttonBack *{
        width: 20px!important;
        height: 20px!important;
    }
    .leagueData {
        gap: 10px;
        width: 100%;
        margin-top: 8px;
        margin-left: 0px;
        justify-content: space-around;
        flex-direction: column;
    }
    .leagueLogo {
        width: 74px;
        height: 74px;
    }
    .leagueLogo img {
        width: 100%;
        height: 100%;
    }
    .leagueFields, .leagueTitle {
        align-items: center;
    }
    .leagueFields {
        gap: 12px;
    }
    .leagueTitleName {
        font-size: 18px;
        line-height: 22px;
    }
    .leaguePreview::after {
        background: rgba(26, 28, 33, 0.5);
    }
    .countryNameField {
        font-size: 15px;
        line-height: 18px;
    }
    .matchStatPages {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .page {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 13px;
    }
    .pageActive {
        font-weight: 600;
    }
}