.filters {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 20px;
}

.filters>div:first-child {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.banner {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 1;
    margin-top: 20px;
}

.rightColumn .filters h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.predictions {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sideColumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Tips Slider */

.tipsSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 41px 60px 0;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

.tipsSlider h2 {
    position: relative;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.tipsSlider .background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.tipsSlider .sliderContainer {
    margin: 0 -20px;
}

.tipsSlider .slide {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0 20px 50px;
}

/* Sports Slider */

.sportsSlider {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sportsSlider h4 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1A1C21;
}

.sportsSlider .slide {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sportsSlider .sport {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px 8px;
    gap: 9px;
    border: 1px solid #1A1C2133;
    border-radius: 8px;
    flex: 1;
    cursor: pointer;
    color: #1A1C21;
    transition: all 0.3s ease-in-out;
}

.sportsSlider .sport.active {
    background-color: #7F3FFC;
    color: #FFFFFF;
}

.sportsSlider .sport .image {
    height: 24px;
    width: 24px;
}

.sportsSlider .sport .name {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

/* Filter Buttons */

.filterButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filterButtons button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    background-color: #FFFFFF;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    border: 1px solid #1A1C2133;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filterButtons button.active {
    background-color: #7F3FFC;
    color: #FFFFFF;
    border-color: #7F3FFC;
}

.mobileFilters {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.leaguesMobile {
    display: none;
}

.clear {
    border-radius: 8px;
    padding: 12px 20px;
    background-color: #1a1c214d;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .filters {
        grid-row-start: 2;
        margin-top: 0;
    }

    .banner {
        grid-column-start: 1;
        grid-column-end: 10;
        margin-top: 30px;
    }

    .sideColumn {
        grid-row-start: 1;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1366px) {
    .filters {
        grid-row-start: 1;
        margin-top: 30px;
    }

    .banner {
        grid-column-start: 4;
        grid-column-end: 13;
    }

    .sideColumn {
        grid-column-start: 4;
        grid-row-start: 3;
        margin-top: 0;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .sideColumn>div:nth-child(1) {
        width: calc(50% - 20px);
    }

    .sideColumn>div:nth-child(2) {
        width: calc(50% - 20px);
    }

    .sideColumn>div:nth-child(3) {
        width: 100%;
    }

    .predictions {
        grid-column-end: 13;
    }

}

@media screen and (max-width: 1280px) {
    .sideColumn {
        display: none;
    }

    .predictions {
        grid-column-end: 13;
    }

    .banner,
    .filters {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .mobileFilters {
        display: flex;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 13;
        margin-top: 20px;
    }

    .filters {
        display: none;
    }

    .banner {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-top: 0;
    }

    .predictions {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .mobileFilters {
        flex-direction: column;
        gap: 20px;
    }

    .mobileFilters>div>button {
        min-width: 140px;
    }

    .mobileFilters>div:first-child {
        height: 42px;
    }

    .mobileFilters>div:last-child {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
    }

    .clear {
        min-width: 75px !important;
    }

    .mobileFilters>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    .mobileFilters>div>div:first-child {
        width: 100%;
    }

    .leaguesMobile {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 32px);
    }

    .leaguesMobile>div {
        padding: 0px 16px;

    }
}

@media screen and (max-width: 768px) {

    .predictions,
    .banner,
    .mobileFilters {
        padding: 0 20px;
    }

    .mobileFilters>div>button {
        min-width: 104px;
    }
}

@media screen and (max-width: 425px) {
    .predictions {
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 16px;
    }

    .sideColumn {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 16px;
        display: flex;
    }

    .mobileFilters {
        margin-top: 24px;
    }

    .mobileFilters>div {
        gap: 12px;
    }

    .mobileFilters>div>div:first-child {
        width: unset;
    }

    .mobileFilters {
        padding: 0 16px;
    }

    .sideColumn {
        flex-direction: column;
    }

    .sideColumn>div:nth-child(1),
    .sideColumn>div:nth-child(2) {
        width: 100%;
    }

    .banner>div>img {
        height: 418px;
    }
}