.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter{
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 28px;
    overflow-x: auto;
    width: 100%;
}
.filter::-webkit-scrollbar{
    display: none;
}
.matches{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blockTitle{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
}
.matchesBlock{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.matchesList{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.match{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-radius: 8px;
    gap: 30px;
}
.matchesList > .match:nth-child(2n-1) {
    background: rgba(242, 242, 242, 0.3);
}
.matchData{
    display: flex;
    align-items: center;
    gap: 60px;
}
.dateChamp{
    display: flex;
    align-items: center;
    gap: 24px;
}
.date{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(26, 28, 33, 0.7);
}
.champ{
    display: flex;
    align-items: center;
    gap: 8px;
}
.champLogo{
    overflow: hidden;
    background: rgba(26, 28, 33, 0.1);
    border: 3px solid rgba(26, 28, 33, 0.1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: fit-content;
}
.champName{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
}
.teams{
    display: flex;
    align-items: center;
    gap: 16px;
}
.teamsLogos {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
}
.teamLogo{
    overflow: hidden;
    background: #FFF;
    border: 3px solid rgba(26, 28, 33, 0.1);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.teamLogo:nth-child(2){
    z-index: 1;
    margin-left: -22px;
}
.teamsNames{
    display: flex;
    flex-direction: column;
    gap: 2px;

    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.8);
}
.matchResult{
    display: flex;
    align-items: center;
    gap: 100px;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.6);
}
.winner{
    font-weight: 600;
    color: #1A1C21;
}
.line{
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    align-self: stretch;
    margin-left: -76px;
}
.resultWin{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2CD114;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.resultWin::before{
    content: "W";
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.resultLose{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CF1F1F;
    border-radius: 4px;
    width: 30px;
    height: 30px;

    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.resultLose::before{
    content: "L";
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.resultDraw{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7B248;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.resultDraw::before{
    content: "D";
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.seeMore{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 8px;
}

.dateChampMobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .pageContainer {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    .filter {
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 32px);
    }
    .dateChamp {
        display: none;
    }
    .matchesList {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
    }
    .dateChampMobile {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
    }
    .champ {
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
    .match {
        padding: 16px;
        gap: 16px;
    }
    .teams {
        gap: 8px;
    }
    .matchData {
        gap: 16px;
    }
    .teamsLogos {
        flex-direction: column;
    }
    .teamLogo:nth-child(2) {
        margin-top: -22px;
        margin-left: 0px;
    }
    .teamsNames {
        gap: 4px;
    }
    .line {
        margin-left: 0px;
    }
    .matchResult {
        gap: 7px;
    }
    .resultWin, .resultLose, .resultDraw {
        width: 24px;
        height: 24px;
    }
    .resultWin::before, .resultLose::before, .resultDraw::before {
        font-size: 13px;
        line-height: 16px;
    }
}