.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter{
    display: flex;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 28px;
    overflow-x: auto;
    width: 100%;
}
.filter::-webkit-scrollbar{
    display: none;
}
/* match summary */
.stageStat{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.stage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    gap: 24px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
    background: rgba(242, 242, 242, 0.5);
    border-radius: 8px;
}
.stage:not(:first-child){    
    margin-top: 28px;
}
.statLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 24px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(26, 28, 33, 0.7);
}
.statLine:nth-child(even) {
    background: rgba(242, 242, 242, 0.3);
    border-radius: 8px;
}
.statLine > *:first-child{
    color: #1A1C21;
}
.iconWithText{
    display: flex;
    align-items: center;
    gap: 8px;
}
.infoLink{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 50px;
}
.infoTitle{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21;
}

.infoUrl{
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21;
    display: flex;
    align-items: center;
    gap: 10px;
}
/* match summary - end */

/* match stat bars */
.statBarsBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.barBlock {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.barInfo {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A1C21;
}
.barBlock span:first-child {
    position: absolute;
    left: 0px;
    top: 0px;
}
.barBlock span:last-child {
    position: absolute;
    right: 0px;
    top: 0px;
}
.bar {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
.barStripe {
    height: 16px;
    background: rgba(26, 28, 33, 0.1);
    border-radius: 4px;
    transition: .3s all ease-in-out;
}
.win {
    background: #7F3FFC;
}
/* match stat bars - end */

@media screen and (max-width: 600px) {
    .stageStat {
        gap: 0px;
    }
    .stage {
        border-radius: 0px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        padding: 17px 16px;
    }
    .stage:not(:first-child) {        
        margin-top: 20px;
    }
    .statLine {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        gap: 12px;
        padding: 18px 16px;
    }
    .infoLink {
        gap: 8px;
        margin-top: 40px;
    }
}