.pageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filter{
    display: flex;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 100%;
}
.predictions{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media screen and (max-width: 600px) {
    .pageContainer {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% - 32px);
    }
    .filter {
        gap: 12px;
        margin-left: -16px;
        padding-left: 16px;
        margin-right: -16px;
        padding-right: 16px;
        width: calc(100% + 32px);
    }
}