.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.container.noGap {
    gap: 0;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.matchLive {
    padding: 11px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #CF1F1F;
    border-radius: 4px;
}

.matchUpcoming {
    padding: 11px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #7F3FFC;
    border-radius: 4px;
}

.matchesOptions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.matchesOptions button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 11px 20px;
    background: #FFFFFF;
    border: 1px solid rgba(26, 28, 33, 0.2);
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    cursor: pointer;
    outline: none;
    transition: .3s all ease-in-out;
    max-height: 42px;
}

.matchesOptions button img {
    transition: .3s all ease-in-out;
}

.activeMode {
    background: #7F3FFC !important;
    border-color: #7F3FFC !important;
    color: #FFFFFF !important;
}

.activeMode img {
    filter: brightness(0) invert(1);
}

.matchesOptions button .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.matchesOptions button .controls {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.matchesOptions button .prev {
    transform: rotate(0deg);
}

.matchesOptions button .next {
    transform: rotate(180deg);
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titles h3 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2180;
}

.titles h2 {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #1A1C21;
}

.league {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.league .leagueWrapper .image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 6px;
    border-radius: 100%;
    border: 3px solid #1A1C211A;
}

.leagueDescription {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
}

.leagueWrapper {
    display: flex;
    gap: 10px;
}

.leagueDescription div .titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.leagueDescription .titles span:first-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C2199;
}

.leagueDescription .titles span:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1A1C21;
}

.matches {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(242, 242, 242, 0.3);
    width: 100%;
}

.match:nth-child(even) {
    background: transparent;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.matchDate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matchDate time:first-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.matchDate time:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.time span:first-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    width: min-content;
    text-align: center;
}

.time span:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21B2
}

.teamImages {
    display: flex;
    flex-direction: row;
}

.teamImages .teamImage:not(:first-child) {
    margin-left: -10px;
    z-index: +1;
    outline: 2px solid #fff;
}

.teamImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 3px solid #E8E8E9;
    background-color: #FFFFFF;
}

.teamNames {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.teamNames .teamName {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21CC;
}

.teamNames .teamName.win {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.percents {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    min-width: 74px;
    gap: 16px;
    width: 79px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid rgba(26, 28, 33, 0.1);
    border-radius: 4px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: max-content;
}

.total.open {
    background-color: #7F3FFC;
    color: #FFFFFF;
}

.total.closed {
    color: #1A1C21;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21;
    border-radius: 4px;
    border: 1px solid #1A1C211A;
    cursor: pointer;
}

.predictions {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
}

.predictions .prediction:not(:last-child) {
    border-bottom: 1px solid #1A1C211A;
}

.prediction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #F2F2F233;
}

.user {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.userImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid #E8E8E9;
    background-color: #FFFFFF;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.userInfo .userName {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #1A1C21CC;
}

.userInfo .userWinrate {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21CC;
}

.comment {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1A1C21CC;
}

.outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.outcome span:first-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1A1C21B2;
}

.outcome span:last-child {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    /* background-color: #1A1C211A; */
    /* padding: 8px; */
    border-radius: 4px;
}

.score {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.outcome.score span.win {
    color: #1A1C21;
    font-weight: 600;
}

.outcome.score span {
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.7);
}

.seeMore {
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1A1C21;
    border: 1px solid #1A1C2133;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
    display: none;
}

@media screen and (max-width: 1440px) {
    .controls {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .controls .matchesOptions {
        width: 100%;
        gap: 30px;
    }

    .controls .matchesOptions button {
        flex: 1;
    }

    .score {
        padding-right: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .controls {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .controls .matchesOptions {
        width: 100%;
        gap: 30px;
        justify-content: space-between;
    }

    .controls .matchesOptions button {
        flex: 1;
    }

    .controls {
        flex-direction: column;
        align-items: flex-start;
    }

    .matchesOptions button {
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }


    .details {
        gap: 20px;
    }

}

@media screen and (max-width: 1280px) {
    .percents {
        gap: 24px;
    }

    .details {
        gap: 16px;
    }

    .matchLive,
    .matchUpcoming {
        padding: 8px 12px;
    }

    .total {
        margin-left: 8px;
    }
}

@media screen and (max-width: 1024px) {
    .controls .matchesOptions button span {
        display: none;
    }

    .details {
        gap: 24px;
    }

    .score {
        margin-right: -8px;
    }
}

.oddVal {
    padding: 8px;
    min-width: 50px;
    font-family: 'Samsung Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #1A1C21 !important;
    background: rgba(26, 28, 33, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.timeMobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .matchesOptions button {
        padding: 10px 20px 10px 19px;
        gap: 12px;
    }
}

@media screen and (max-width:425px) {
    .seeMore {
        display: flex;
    }

    .outcome {
        display: none;
    }

    .total {
        display: none;
    }

    .score {
        display: flex;
    }

    .header {
        padding: 16px;
        gap: 20px;
        justify-content: space-between;
    }

    .teamImages {
        flex-direction: column;
    }

    .teamImages .teamImage:not(:first-child) {
        margin-left: 0;
        margin-top: -10px;
    }

    .matchesOptions button:nth-child(1) span {
        display: none;
    }

    .matchesOptions button:nth-child(2),
    .matchesOptions button:nth-child(3) {
        display: none;
    }

    .matches {
        margin-left: -16px;
        margin-right: -16px;
    }

    .matches .time {
        display: none;
    }

    .info {
        gap: 16px;
    }

    .teamNames {
        gap: 4px;
    }

    .timeMobile {
        display: flex;
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 42px;
    }

    .matchLive {
        background-color: transparent;
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #CF1F1F;
        padding: 0;
    }

    .matchUpcoming {
        background-color: transparent;
        font-family: 'Samsung Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #7F3FFC;
        padding: 0;
    }

    .outcome {
        min-width: auto;
    }

    .details {
        margin-left: auto;
    }
}