.textFieldContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    /* height: 100%; */
    flex-direction: column;
}

.textFieldContainer input {
    padding: 15px 24px;
    border: 1px solid rgba(26, 28, 33, 0.2);
    border-radius: 8px;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 1);
    outline: none;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.textFieldContainer input::placeholder {
    color: rgba(26, 28, 33, 0.5);
}

.eye {
    position: absolute;
    right: 24px;
    top: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 26px;
    top: 11px;
    pointer-events: none;
}

.shrinkSearch {
    min-width: 42px;
    width: 42px;
    position: initial;
}

.shrinkSearch input {
    position: absolute;
    transition: all .2s ease-in-out;
    z-index: 3;
    width: 42px;
}

.shrinkSearch:first-child .icon {
    z-index: 3;
    left: 11px;
}

.shrinkSearch:last-child .icon {
    z-index: 3;
    right: 11px;
}

.shrinkSearch:first-child input {
    padding: 11px 0px 11px 41px;
    padding-right: 0px !important;
    left: 0px;
}

.shrinkSearch:last-child input {
    padding: 11px 41px 11px 0px;
    padding-right: 41px !important;
    transition: all .2s ease-in-out;
    right: 0px;
}

.shrinkSearch:last-child input:focus {
    padding-left: 13px;
}

.shrinkSearch:first-child:focus-within input,
.shrinkSearch:first-child input:focus {
    padding-right: 13px !important;
}

.shrinkSearch input:focus {
    width: 100%;
}

.errorField input {
    border-color: #CF1F1F;
}

.error {
    color: #CF1F1F;
    font-family: 'Samsung Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.floating {
    position: absolute;
    display: block;
    top: 0px;
    left: 25px;
    transform: translateY(16px);
    transform-origin: left center;
    transition: all .2s;
    pointer-events: none;
    font-family: 'Samsung Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(26, 28, 33, 0.5);
}

.floatingPlaceholder input:focus+.floating,
.floating.up {
    font-size: 10px;
    transform: translateY(4px);
}

.floatingPlaceholder input {
    padding-bottom: 10px;
    padding-top: 20px;
}